[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oracledb = "*"
textual-dev = "*"
logzero = "*"
textual = {extras = ["syntax"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
